@tailwind base;
@tailwind components;
@tailwind utilities;

/* rest of content below */

.close {
  margin-left: auto
}

.formStyle {
  @apply bg-gray-500 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400
    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.formLabel {
  @apply text-gray-900 text-lg font-medium mb-1.5 block dark:text-white;
}

.formHeader {
  @apply text-gray-900 text-lg mb-1.5 block dark:text-white;
}

.removeButton {
  @apply text-white bg-slate-400 text-center font-medium rounded-lg text-sm w-full px-5 py-2.5
    hover:bg-red-800 dark:hover:bg-red-700
    focus:ring-4 focus:outline-none focus:ring-red-300 
    sm:w-auto 
    dark:bg-slate-400
    transition ease-in-out duration-200;
}

.addButton {
  @apply text-white text-center bg-slate-700 font-medium rounded-lg text-sm w-full px-5 py-2.5 
    hover:bg-teal-800 
    focus:ring-4 focus:outline-none focus:ring-red-300 
    sm:w-auto 
    dark:bg-slate-500 dark:hover:bg-teal-700 dark:focus:ring-slate-800
    transition ease-in-out duration-200;   
}

.submitButton {
  @apply text-white text-center font-medium rounded-lg text-sm w-full px-5 py-2.5 m-6 h-12
    hover:bg-violet-800 
    focus:ring-4 focus:outline-none focus:ring-red-300 
    sm:w-auto 
    dark:hover:bg-violet-800 dark:focus:ring-slate-800
    transition ease-in-out duration-200;   
}