@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
  @apply aspect-[3/4] bg-white text-black font-sans px-5 py-2 m-auto md:w-8/12 text-[.8vw];
}

/* container styles */
/* .container {
  width: 100%;
  margin: 0 auto;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 34.33%;
  font-family: Arial, sans-serif;
  font-size: .8vw;
  line-height: 1.5;
  background-color: white;
  color: black;
} */

.personalInfoHeader {
  @apply mb-2 text-center;
}

/* header styles
.header {
  text-align: center;
  margin-bottom: 2.5%;
} */

.name {
  @apply text-2xl font-bold text-center;
}

.sectionTitle {
  @apply text-base text-left font-bold;
}

.section-content {
  margin-bottom: 2.5%;
  font-size: .5vw;
}

.degree {
  font-size: 1vw;
  display:inline-block;
}

.school {
  font-size: 1vw;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  display:inline-block;
}

.date {
  font-size: .8vw;
  font-weight: normal;
  text-align: right;
  float:right;
}

.city {
  font-size: .8vw;
  font-weight: normal;
  text-align: right;
  float:right;
}

.coursework {
  font-style: italic;
}

/* experience styles */
.job-title {
  font-size: 1vw;
  font-weight: bold;
}

.employer {
  font-size: 1vw;
}

.job-description {
  margin-left: 1.5%;
  margin-bottom: .75%;
  padding-left: 3%;
  padding-top: .75%;
}

.job-description li {
  list-style: disc;
  margin-bottom: .75%;
}

/* skills styles */
.skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  font-size: .8vw;
}

.skills-list li {
  font-size: 1vw;
  margin: .3vw;
  padding: .1vw .9vw;
  border: .1vw solid #333;
  border-radius: .8vw;
}
